<div class="profile-container">
   <%= image_tag @user.get_profile_image(100,100), class:"rounded-circle";  %>
  <h5 class="profile-name"><%= @user.name %></h5>
  <% if @user.id == current_user.id %>
    <div class="mt-auto">
    <p><%= link_to "プロフィール編集", edit_user_path(@user), class:"text-dark" %></p>
    </div>
  <% end %>
</div>